*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

    body {
        font-family: 'poppins', sans-serif;
        background-color: hsl(0, 0%, 100%);
        padding: 20px;
        color: hsl(234, 12%, 34%);
        line-height: 1.5;
    }

    .features__intro {
        text-align: center;
        max-width: 450px;
        margin: 0px auto 3rem;
    }

    .features__intro h1 {
        font-size: 2.2rem;
        font-weight: 200;
        margin-bottom: 0.5rem;
    }

    .features__intro h2 {
        font-size: 2.2rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .features__intro p {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 3rem;
        color: hsl(229, 6%, 66%);
    }

    .features__cards {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        max-width: 1100px;
        margin: 0 auto;
        grid-template-areas:
             "supervisor team-builder calculator" 
             "supervisor karma calculator"; 

        
    }
        
    .card--supervisor {
        grid-area: supervisor;
        align-self: center;
    }

    .card--karma {
        grid-area: karma;
        align-self: end;
    }

    .card--team-builder {
        grid-area: team-builder;
        align-self: start;
    }

    .card--calculator {
        grid-area: calculator;
        align-self: center;
    }

    .features__cards>div {
        background-color: white;
        border-radius: 8px;
        padding: 25px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1),
            0 6px 6px rgba(0, 0, 0, 0.05);

        position: relative;
        text-align: left;
        overflow: hidden;
        height: fit-content;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
        .features__cards > div:hover {
            transform: scale(1.08) translateY(-5px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }

    .features__cards>div::before {
        content: "";
         position: absolute; 
        top: 0;
        left: 0;
        height: 4px;
        width: 100%;
        border-radius: 8px 8px 0 0;
    }

    .card--supervisor::before {
        background-color: hsl(180, 62%, 55%);
    }

    .card--karma::before {
        background-color: hsl(0, 78%, 62%);
    }

    .card--team-builder::before {
        background-color: hsl(212, 86%, 64%);
    }

    .card--calculator::before {
        background-color: hsl(34, 97%, 64%);
    }

    .card__icon {
        width: 64px;
        margin-top: 130px;
        margin-bottom: 0px;
        float: right;
    }

    .card__title {
        margin-bottom: 5px;
        font-size: 1.2rem;
        color: hsl(234, 12%, 34%);
    }

    .card__text {
        font-size: 0.95rem;
        color: hsl(229, 6%, 66%);
        margin-bottom: 20px;
    }